body,html{height:100%;padding:0px;margin:0px;}
body{background:url(../img/cielo.jpeg) no-repeat fixed center;}

#inicio {}

/*#facil, #dificil{
	max-width:100%;
	padding:2%;
}*/

/*#facil: hover{
	background-color: #0043E1;
}*/
	
.a{
	position:fixed;
	top:2%;
	left:2%;
	width:20%;
	height:30%;
}

.m1a{	
	width:100%;
	max-width:92%;
	margin:5%;
	background-color:red;
	border-style: solid;
	border-width: 11px;
    border-color: grey;
}
.m1b img{width:100%}

.m1b{
	position:relative;	
	width:100%;
	max-width:100%;
	margin:5%;

}

#fuel{
	height:100%;
	max-width:100%;
	background-color:#00d000;
}


.numero{
	position:absolute;
	right:3%;
	top:16%;
	color:black;
	text-align:center;
	font-family: 'Arial';
	font-size:2vw;
	background-color:#b0b5c5;
	padding:3%;
}

#nave{
	z-index:2;
	text-align:center;
	position:fixed;
	top:5%;
	width:100%;
	height:20%
	}
	
#nave img{height:100%;}
	
.c{	
	z-index:3;
	text-align:right;
	display:block;
	position:fixed;
	top:2%;
	right:2%;
	width:25%;
}

.botonC:hover {background-color: #0043E1;}
.botonC:active {background-color: transparent;}

.botonC {
	display:inline-block;
	width:40%;
	padding:2%;
}

.botonC img{width:100%;}

#botonPower {
	z-index:4;
	text-align:center;
	position:fixed;
	bottom:3%;
	right:3%;
	width:13%;	
}

#botonPower img{
	width:100%;
	max-width:100%;
}

.menu{
	z-index:5;
	text-align:center;
	position:fixed;
	top:37%;
	left:28%;
	width:44%;
	height:34%;
	background-color:yellow;
	outline-style: solid;
	outline-width: 12px;
    outline-color: grey;
	display:none;
}

#botonMenu1:hover {background-color: #0043E1;}
#botonMenu2:hover {background-color: #0043E1;}
#botonMenu3:hover {background-color: #0043E1;}
/*#hidem:hover {background-color: #0043E1;}*/

#botonMenu1{
	position:absolute;
	top:0%;
	height:27%;
	max-width:100%;
	padding:2%;
}

#botonMenu2{
	position:absolute;
	top:33%;
	height:27%;
	max-width:100%;
	padding:2%;
}

#botonMenu3{
	position:absolute;
	top:66%;
	height:27%;
	max-width:100%;
	padding:2%;
}

.menu img {
	max-width:100%;
	max-height:100%;
	height:100%;
}

#dificultad {
	z-index:5;
	text-align:center;
	font-family: 'Arial';
	font-size:1.6vw;
	position:fixed;
	top:26%;
	left:26%;
	width:48%;
	height:48%;
	background-color:yellow;
	border-style: solid;
	border-width: 12px;
    border-color: grey;
	display:block;
}

#bloque1{
	
}
#bloque2{
	
}
#bloque3{
	height:30%;
}

.icono{
	height:11%;
	margin:1%;
}

.icono img {
	height:100%;
	max-height:100%;
}

#facil:hover {background-color: #0043E1;}
#dificil:hover {background-color: #0043E1;}

.botonDificultad {
	display:inline-block;	
	position:relative;	
	width:34%;
	height:73%;
	max-height:90%;
	padding:1%;
}

.botonDificultad img {
	height:76%;
	width:100%;
	max-height:100%;
	padding:4%;
}

/*.botonMenu {
	text-align:center;
	position:absolute;
	display:block;
	padding:2%;
	height:20%
}

#m2a{
	top:0%;
}
#m2b{
	top:25%;
}
#m2c{
	top:50%;
}
#m2d{
	top:75%;
}*/


.luna{
	z-index:1;
	text-align:center;	
	height:17%;
	width:100%;
	position:fixed;
	bottom:0px;
	}
	
.luna img{
	height:100%;
}

#final1, #final2 {
	z-index:5;
	text-align:center;
	font-family: 'Arial';
	font-size:1.6vw;
	position:fixed;
	top:36%;
	left:28%;
	width:44%;
	height:25%;
	background-color:yellow;
	border-style: solid;
	border-width: 12px;
    border-color: grey;
	display:none;
}

.reiniciar {
	position:absolute;
	max-width:100%;
	padding:2%;
}

.reiniciar img{
	width:100%;
}

.reiniciar:hover {
	background-color: #0043E1;
}

#cpanel{}

/*#hidem,#showm{float:right}

#hidem,#showm{display:none}*/


/*<div class="a">
    <div id="showm">show menu</div>
    <ul id="cpanel">
	  <li>Fuel <span id="fuel">100</span> l</li>
	  <li>Altura <span id="altura">70</span> m</li>
      <li>Velocidad <span id="velocidad">100</span> m/s</li>  
    </ul>
  </div>*/